mixin yellow( text )
	span.yellow= text

mixin green( text )
	span.green= text

mixin gray( text )
	span.gray= text

mixin brown( text )
	span.brown= text

mixin blue( text )
	span.blue= text

doctype html
html
	head
		title Лекция 7 - ООП
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(href='styles/screen-16x10.css', type='text/css', rel='stylesheet')
		link(href='styles/styles.css', type='text/css', rel='stylesheet')
		script(src='//localhost:35729/livereload.js')
	body.shower.list
		header.caption
			h1 ООП

		include slide-1.jade
		include slide-2.jade
		include slide-3.jade
		include slide-4.jade
		include slide-5.jade
		include slide-6.jade
		include slide-7.jade
		include slide-8.jade
		include slide-9.jade
		include slide-10.jade
		include slide-11.jade
		include slide-12.jade
		include slide-13.jade
		include slide-14.jade
		include slide-15.jade
		include slide-16.jade
		include slide-17.jade
		include slide-18.jade
		include slide-19.jade
		include slide-20.jade
		include slide-21.jade
		include slide-22.jade
		include slide-23.jade
		include slide-24.jade
		include slide-25.jade
		include slide-26.jade
		include slide-27.jade
		include slide-28.jade
		include slide-29.jade
		include slide-30.jade
		include slide-31.jade

	script(src='js/shower.min.js')
	script(src='js/common.min.js')
